html,
body,
.wrapper {
   height: 100%;
}
body {
   font-family: $fontFamily;
   font-size: $fontSize;
   font-weight: $regular;
   color: $mainFontColor;
}
.wrapper {
   position: relative;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   &.scroll-block {
      overflow-y: hidden;
   }
}
main {
   flex: auto;
}

// SELECT
// ==============================================================
// @import "./base/select.scss";

// SWIPER
// ==============================================================
// @import "./base/swiper.scss";

// ACCORDION
// ==============================================================
// @import "./base/accordion.scss";

// TOGGLE
// ==============================================================
// @import "./base/toggle.scss";

// TABS
// ==============================================================
// @import "./base/tabs.scss";
